@import "src/scss/typography.scss";
@import "src/scss/colors.scss";
@import "src/scss/mixins.scss";

.equipments {
  padding: 80px 15px;

  &__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 135%;
    color: #333333;
  }

  &__desc {
    font-size: 15px;
    line-height: 167%;
    color: #777777;
    margin-top: 40px;
  }

  &__table {
    margin-top: 55px;

    @media screen and (max-width: 575px) {
      overflow-x: scroll;
    }
  }
}

.equipments-table {
  border-radius: 10px;
  width: 100%;

  & tr {
    &:nth-child(even) {
      background-color: rgba(23, 61, 80, 0.06);
    }

    &:nth-child(odd) {
      background-color: #F8F9FB;
    }
  }

  &__tooltip {
    display: flex;
    cursor: pointer;
    width: fit-content;

    position: absolute;
    top: 2px;
    right: 0;

    & svg {
      width: 100%;
      height: 100%;
    }

    @media screen and (max-width: 769px) {
      width: 15px;
      height: 15px;
    }
  }

  &__title {
    font-size: 15px;
    line-height: 120%;
    color: #777777;
    text-align: left;

    @media screen and (max-width: 769px) {
      font-size: 14px;
    }
  }

  & th {
    font-weight: bold;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #333333;
    vertical-align: top;
    padding: 22px;
    box-sizing: border-box;

    @media screen and (max-width: 769px) {
      font-size: 14px;
      padding: 10px;
    }

    &:not(:first-child) {
      width: 232px;
    }

    & span {
      position: relative;
      display: block;
      width: fit-content;
      margin: auto;
      padding-right: 40px;

      @media screen and (max-width: 769px) {
        padding-right: 25px;
      }
    }

    &:last-child {
      & span {
        width: min-content;
      }
    }
  }

  & td {
    padding: 10px;

    &:not(.equipments-table__title) {
      text-align: center;
    }

    &:first-child {
      width: 392px !important;
    }
  }

  &__value {
    font-size: 34px;
    text-align: center;

    &_plus {
      color: $red;
    }

    &_minus {
      color: #777777;
    }
  }
}

.tooltipster-sidetip .tooltipster-box {
  background: $white;
  border: none;
  border-radius: 0;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow {
  top: -1px
}

.tooltipster-sidetip .tooltipster-arrow-border,
.tooltipster-sidetip .tooltipster-arrow-background {
  border: 10.5px solid transparent;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
  border-bottom-color: $grey-dark;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
  border-bottom-color: $white;
}

.tooltipster-sidetip .tooltipster-content {
  padding: 20px;
}

.tooltip-templates {

  display: none;

  &__item {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #777777;


    @media screen and (max-width: 769px) {
      font-size: 11px;
      line-height: 16px;
    }

    & a {
      color: $blue;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

}