@import "src/scss/colors.scss";

.card {
  padding: 60px 15px;

  &-top {
    display: flex;
    align-items: flex-start;
    column-gap: 28px;

    &__gallery {
      max-width: 50%;
      width: 100%;
    }

    &__info {
      max-width: 50%;
      width: 100%;
    }
  }
}