@import "src/scss/colors.scss";

.card-gallery {
  & .swiper {
    overflow: hidden;
  }
}

.gallery-top {
  &__item {
    height: 452px;

    @media screen and (max-width: 1199px) {
      height: 380px;
    }

    @media screen and (max-width: 576px) {
      height: 280px;
    }

    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.gallery-thumbs {
  margin-top: 25px;

  &__item {
    height: 60px;

    @media screen and (max-width: 1199px) {
      height: 50px;
    }

    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}